<script src="/static/plugins/jquery/jquery-2.2.0.min.js"></script>
<script src="/static/plugins/materialize/js/materialize.min.js"></script>
<script src="/static/plugins/material-preloader/js/materialPreloader.min.js"></script>
<script src="/static/plugins/jquery-blockui/jquery.blockui.js"></script>
<script src="/static/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="/static/plugins/jquery-steps/jquery.steps.min.js"></script>
<script src="/static/js/alpha.min.js"></script>
<script src="/static/js/pages/form-wizard.js"></script>