<!-- Featured Listings Start -->
<section class="featured-lis">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow " data-wow-delay="0.5s">
                <h3 class="section-title">Featured Offers</h3>
                <div id="new-products" class="owl-carousel">
                    <div class="item">
                        <div class="product-item">
                            <div class="carousel-thumb">
                                <img src="/static/img/product/img1.jpg" alt="">
                                <div class="overlay">
                                    <a href="ads-details.html"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <a href="ads-details.html" class="item-name">AMP Life Insurance</a>
                            <span class="price">(3) days left</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="product-item">
                            <div class="carousel-thumb">
                                <img src="/static/img/product/img2.jpg" alt="">
                                <div class="overlay">
                                    <a href="ads-details.html"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <a href="ads-details.html" class="item-name">Pinnacle</a>
                            <span class="price">(14) days left</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="product-item">
                            <div class="carousel-thumb">
                                <img src="/static/img/product/img3.jpg" alt="">
                                <div class="overlay">
                                    <a href="ads-details.html"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <a href="ads-details.html" class="item-name">Prudential</a>
                            <span class="price">(9) days left</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="product-item">
                            <div class="carousel-thumb">
                                <img src="/static/img/product/img4.jpg" alt="">
                                <div class="overlay">
                                    <a href="ads-details.html"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <a href="ads-details.html" class="item-name">Alliance</a>
                            <span class="price">(28) days left</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="product-item">
                            <div class="carousel-thumb">
                                <img src="/static/img/product/img5.jpg" alt="">
                                <div class="overlay">
                                    <a href="ads-details.html"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <a href="ads-details.html" class="item-name">Youi</a>

                        </div>
                    </div>
                    <div class="item">
                        <div class="product-item">
                            <div class="carousel-thumb">
                                <img src="/static/img/product/img6.jpg" alt="">
                                <div class="overlay">
                                    <a href="ads-details.html"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <a href="ads-details.html" class="item-name">QBE Insurance</a>
                            <span class="price">(11) days left</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="product-item">
                            <div class="carousel-thumb">
                                <img src="/static/img/product/img7.jpg" alt="">
                                <div class="overlay">
                                    <a href="ads-details.html"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <a href="ads-details.html" class="item-name">AAMI</a>
                            <span class="price">(1) day left</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="product-item">
                            <div class="carousel-thumb">
                                <img src="/static/img/product/img8.jpg" alt="">
                                <div class="overlay">
                                    <a href="ads-details.html"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <a href="ads-details.html" class="item-name">NRMA Insurance</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Featured Listings End -->