<!-- Page Header Start -->
<div class="page-header" style="background: url(/static/img/banner1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="page-title">Life Insurance</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- Main container Start -->
<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <img src="/static/img/about.jpg" alt="">
                <div class="ad-detail-content">
                    <p>
                        Life insurance can pay your dependents money as a lump sum or as regular payments if you die.</p>

                    <p>It’s designed to provide you with the reassurance that your dependents will be looked after if you’re no longer there to provide.</p>

                    <p>The amount of money paid out depends on the level of cover you buy. You can also decide how it is paid out and whether it will cover specific payments, such as mortgage or rent.</p>

                    <p>There are two main types of life insurance:</p>
                    <blockquote>
                        <p>
                            Term life insurance policies run for a fixed period of time (known as the ‘term’ of your policy) – such as 5, 10 or 25 years. These kinds of policies only pay out if you die during the policy. There’s no lump sum payable at the end of the policy term.
                        </p>
                    </blockquote>
                    <blockquote>
                        <p>
                            A whole-of-life policy will pay out no matter when you die, as long as you keep up with your premium payments.
                        </p>
                    </blockquote>
                    <h3 class="section-title">What isn’t covered?</h3>
                    <p>
                        Life insurance only covers death – if you can’t provide for your family because of illness or disability, you won’t be covered.
                    </p>
                    <p>
                        Most policies have some exclusions (things they don’t cover). For example, they might not pay out if you die due to drug or alcohol abuse, and you normally have to pay extra to be covered when you take part in risky sports.
                    </p>
                    <p>
                        If you have a serious health problem when you take out the policy, your insurance might exclude any cause of death related to that illness.
                    </p>
                    <p>
                        You can buy other insurance products for these issues, which cover total and permanent disability, long term illness or critical illness cover.
                    </p>

                    <h3 class="section-title">Do you need it?</h3>

                    <p>
                        If you have dependants – such as school age children, a partner who relies on your income or a family living in a house with a mortgage that you pay – a life insurance policy can provide for them if you die.
                    </p>
                    <p>
                        You might also want a policy which covers your funeral expenses.
                    </p>
                    <p>
                        You can’t rely on the government to take care of your family – the money they would get from the state is much lower than you’d probably expect.
                    </p>
                    <p>
                        If you want to provide for your family financially if you die, life insurance is a must.
                    </p>

                </div>
            </div>
            <div class="col-sm-4 page-sidebar">
                <aside>
                    <div class="inner-box">
                        <div class="categories">
                            <div class="widget-title">
                                <i class="fa fa-align-justify"></i>
                                <h4>All Categories</h4>
                            </div>
                            <div class="categories-list">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-desktop"></i> Life Insurance <span class="category-counter">(9)</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="fa fa-wrench"></i> Health Insurance <span class="category-counter">(8)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-github-alt"></i> Pet Insurance <span class="category-counter">(2)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-leaf"></i> TPD <span class="category-counter">(3)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-home"></i> Home Insurance <span class="category-counter">(4)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-black-tie"></i> Travel Insurance <span class="category-counter">(5)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-cutlery"></i> Car Insurance <span class="category-counter">(5)</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--
                    <div class="inner-box">
                        <div class="widget-title">
                            <h4>Premium Ads</h4>
                        </div>
                        <div class="advimg">
                            <ul class="featured-list">
                                <li>
                                    <img alt="" src="/static/img/featured/img1.jpg">
                                    <div class="hover">
                                        <a href="#"><span>$49</span></a>
                                    </div>
                                </li>
                                <li>
                                    <img alt="" src="/static/img/featured/img2.jpg">
                                    <div class="hover">
                                        <a href="#"><span>$49</span></a>
                                    </div>
                                </li>
                                <li>
                                    <img alt="" src="/static/img/featured/img3.jpg">
                                    <div class="hover">
                                        <a href="#"><span>$49</span></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    -->
                    <div class="inner-box">
                        <div class="widget-title">
                            <h4>Advertisement</h4>
                        </div>
                        <img src="/static/img/placeholder.gif" alt="">
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>
<!-- Main container End -->